
@{
    ViewData["Title"] = "Personal Calculator";
}
<h2>Personal Calculator</h2>

<form asp-action="Calculate" asp-controller="Calculator" method="post">
    <input name="SoHang01" value="@ViewBag.SoHang01" />
    <select name="PhepToan">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="%">%</option>
        <option value="^">^</option>
    </select>
    <input name="SoHang02" value="@ViewBag.SoHang02" />
    <button>=</button>
    <span class="text-danger">@ViewBag.KetQua</span>
</form>
@section Scripts{
    <script>
        $(document).ready(function(){
            $('select[name="PhepToan"]').val('@ViewBag.PhepToan');
        });
    </script>
}


