
@model List<Labs.Models.Product>
<html>
<body>
    <h1>@ViewData["Heading"]</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.ID</td>
                <td>@a.Name</td>
                <td>@a.Price</td>
            </tr>
        }
    </table>
</body>
</html>

